beautifulsoup4==4.12.0
en-core-web-lg @ https://github.com/explosion/spacy-models/releases/download/en_core_web_lg-3.2.0/en_core_web_lg-3.2.0-py3-none-any.whl#sha256=ae37a39df924099ea9e9d9d4d2912bbed9c534089c9f5f3ac0a3564ca7815521
huggingface-hub==0.19.4
networkx==3.0
nltk==3.8.1
pandas==1.5.1
selenium==4.15.2
spacy==3.2.0
spacy-legacy==3.0.12
spacy-loggers==1.0.4
transformers==4.30.2
webdriver-manager==4.0.1
sklearn